html {
    background-color: #fff !important;
    font-size: 0.85em !important;
    font-family: sans-serif !important;
    width: 99% !important;
}


#button-import{
    margin: -7px;
}

.input-file {
    width: 120px;
}

.input-file {
    margin-top: -36px;
}

.input-file__filename {
    text-align: left;
    color: red;
}

#div-content{
/*    display: none;*/
/*    opacity: 0;*/
/* clip: rect(0, 0, 0, 0); position: absolute;*/
}

textarea.ng-invalid {
    background-color:pink;
}
textarea.ng-valid {
    background-color:lightgreen;
}